<h1>Welcome to my Forum</h1>
 
<table>
  <tr>
    <th width="70%">Forum</th>
    <th width="30%">Last Post</th>
  </tr>
   <% end %>
</table>
 
<!-- <p><%= link_to "New Forum", new_forum_path %></p> -->
<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>